.wrapper :global(.scene-container),
.wrapper :global(.scene-container > canvas) {
  width: 100% !important;
  height: auto !important;
}

.wrapper :global(.scene-container > div:not([class])) {
  width: 100% !important;
}

.wrapper :global(.scene-container > div:not([class]) .marker-wrapper) {
  pointer-events: auto !important;
}

.wrapper :global(.scene-container > div:not([class]):hover .marker-wrapper) {
  opacity: 0.6;
}

.wrapper :global(.scene-container > div:not([class]) .marker-wrapper:hover) {
  opacity: 1 !important;
  z-index: 100 !important;
}
